[submodule "POSEIDON"]
  path = POSEIDON
  url = https://github.com/poseidon-fisheries/POSEIDON.git
  branch = SURIMI
[submodule "western_med"]
  path = western_med
  url = https://github.com/Official-EwE/SURIMI-western_med.git
