[submodule "POSEIDON"]
  path = POSEIDON
  url = https://github.com/poseidon-fisheries/POSEIDON.git
  branch = main
[submodule "SURIMI-POSEIDON_inputs"]
	path = inputs
	url = https://github.com/Official-EwE/SURIMI-POSEIDON_inputs.git
